

li {
  width: fit-content;
}

a {
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo {
    height: 64px;
}

@media (max-width: 700px) {
    #logo {
        height: 60px;
    }
}

@media (max-width: 600px) {
    #logo {
        height: 55px;
    }
}

.logo{
  width: auto;
  height: 90%;
}


mat-toolbar button {
  height: 100%;
}

nav {
  height: 100%;
}
